﻿@model NepalIntermodal.Areas.Admin.Models.News

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
@*    <h4>News</h4>
    <hr />*@
 @*The Upper Part*@         
    
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i>Delete from News  </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li><a href="~/admin/News/create/">Create New News</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Title)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
			   
				@Html.Raw(Model.Description)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publishdate)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Publishdate)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Reference)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkUrl)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.LinkUrl)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Active)
			        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
