﻿@model NepalIntermodal.Areas.Admin.Models.Bill

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


																		@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.CreatedBy)
	 @Html.HiddenFor(model => model.CreatedDate)
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i> Edit Bill </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li><a href="~/admin/Bill/create/">Create New Bill</a></li>
									<li><a href="/admin/Bills/index"> <input type="button" value="Back To List" class="btn btn-danger" /><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
@*//The Down Part*@
    <div class="form-horizontal col-md-10">
        <h4>Bill</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BillId)

        <div class="form-group">
            @Html.LabelFor(model => model.BillDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.BillDescription, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.BillDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseTopic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.ExpenseTopic, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.ExpenseTopic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromProcess, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.FromProcess, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.FromProcess, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PanNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.PanNo, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.PaidTo, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.PaidTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceivedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.ReceivedDate, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UploadTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.UploadTime, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.UploadTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Bill" class="btn btn-success" />
				<a href="/admin/Bills/index"> <input type="button" value="Back To List" class="btn btn-danger" /><a>
                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
	   <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>


