﻿@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans.eot') format('eot'), 
    url('fonts/opensans.woff') format('woff'), 
    url('fonts/opensans.ttf') format('truetype'), 
    url('fonts/opensans.otf') format('opentype');
}
@font-face {
    font-family: 'opensansregular';
    src: url('fonts/opensans-regular.eot') format('eot'), 
    url('fonts/opensans-regular.woff') format('woff'), 
    url('fonts/opensans-regular.ttf') format('truetype'), 
    url('fonts/opensans-regular.otf') format('opentype');
}
@font-face {
    font-family: 'opensansbold';
    src: url('fonts/opensans-bold.eot') format('eot'), 
    url('fonts/opensans-bold.woff') format('woff'), 
    url('fonts/opensans-bold.ttf') format('truetype'), 
    url('fonts/opensans-bold.otf') format('opentype');
}
@font-face {
	font-family: 'opensanssemi';
	src: url("fonts/opensans-semibold.eot");
  	src: url("fonts/opensans-semibold.ttf") format('truetype');
}
@font-face {
    font-family: 'gothicbold';
    src: url('fonts/gothicb.eot') format('eot'), 
    url('fonts/gothicb.woff') format('woff'), 
    url('fonts/gothicb.ttf') format('truetype'), 
    url('fonts/gothicb.otf') format('opentype');
}
@font-face {
    font-family: 'gothic';
    src: url('fonts/gothic.eot') format('eot'), 
    url('fonts/gothic.woff') format('woff'), 
    url('fonts/gothic.ttf') format('truetype'), 
    url('fonts/gothic.otf') format('opentype');
}

@font-face {
    font-family: 'proximanova';
    src: url('fonts/ProximaNova-Light.eot') format('eot'), 
    url('fonts/ProximaNova-Light.woff') format('woff'), 
    url('fonts/ProximaNova-Light.ttf') format('truetype'), 
    url('fonts/ProximaNova-Light.otf') format('opentype');
}
body{
	font-family:'proximanova';
	color:#535353;
}
a img:hover{
	
}
a:hover{
	text-decoration:none !important;
}
.row{
	margin-left:0px !important;
	margin-right:0px !important;
}
header{
	background:#0D5A9E;
	padding:22px 0px;
	margin-bottom:10px;
}
.page-heading{
	font-family:'proximanova';
	font-size:20px;
	color:#fff;
	text-transform:capitalize;
}
.govt{
	margin-top:-8px;
	color:#fff;
	font-weight:600;
	font-size:16px;
	text-transform:capitalize;
}
.ministry{
	color:#fff;
	font-weight:600;	
	font-size:14px;
	text-transform:capitalize;
	font-family:'proximanova';
}
.address{
	font-style:italic;
	color:#fff;
	font-family:'proximanova';
	font-size:14px;
	text-transform:capitalize;
}
nav{
	background:#0d63ae;
	margin-bottom:10px;
	padding:
}
nav li a{
	color:#fff;
	text-transform:uppercase;
	font-family:'proximanova';
	font-size:14px;
	padding:15px 25px !important;
	text-shadow:0px 1px 0px #fff;
}
nav li i{
	font-size:20px;
}
.icon-bar{
	background-color:#fff;
}
.navbar-toggle{
	border:1px solid #fff;
	margin-top:10px;
	margin-left:10px;
}
.active, nav li a:hover{
	background:#1aa6dc !important;
	color:#fff;
}
.middlecontent-1{
	margin-bottom:0px;
}
.btn-readmore{
	background:#DA1F2A;
	border-radius:0px !important;
	text-transform:uppercase;
	color:#fff;
	transition:all 0.3s ease-in-out;
	border:1px solid #cecece !important;
}
.btn-readmore:hover{
	background:#1aa6dc;
	color:#fff;
}
.home{
	background:url(./images/home-icon.png);
	color:#fff;
}
.module-heading1{
	background:#d50b17;
	color:#fff;
	text-transform:capitalize;
	padding:15px 10px;
	font-size:16px;
	text-indent:35px;
}
.module-heading2{
	background:#2361b8;
	color:#fff;
	text-transform:capitalize;
	padding:15px 10px;
	font-size:16px;
	text-indent:35px;
}
.message-title{
	font-size:14px;
	font-family:'opensanssemi' !important;
	color:#d50b17;
	font-weight:bold !important;
	margin-bottom:20px;
	margin-left:20px;
}
.message-text{
	font-size:14px;
	font-family:'proximanova';
	color:#535353;
}
.message-text a{
	color:#f00;
}
.msg-img{
	margin-right:20px;
}
.resource-icon{
	background:url(../images/resource-repository-icon.png) no-repeat;
}
.welcome-icon{
	background:url(../images/welcome-icon.png) no-repeat;
}
.message-icon{
	background:url(../images/message-icon.png) no-repeat;
}
.glossary-icon{
	background:url(../images/glossary-icon.png) no-repeat;
}
.news-icon{
	background:url(../images/news-icon.png) no-repeat;
}
.usefullinks-icon{
	background:url(../images/usefullinks-icon.png) no-repeat;
}
.usefullinks{
    height:200px;
    overflow-y:scroll;
}
.icons{
	height:35px;
	width:35px;
	display:block;
	position:absolute;
	top:13;
}
.resource-col{
	padding:0px !important;
}
.resource-col li{
	list-style-image:url(../images/resource-bullet.png);
}
.resource-col li a{
	text-shadow: 0px 0px 0px #000;
	text-transform:uppercase;
	font-weight:500;
	font-size:14px;
	color:#535353;
}
.resource-col li a:hover{
	color:#f00;
	text-decoration:none !important;
}
.btn-resource{
	position:absolute;
	right:0px;
	top:0;
}
.resource-search-group{
	position:relative;
}
.resource-search{
	border-radius:0px;
}
.middlecontent-1 .container, .middlecontent-2 .container, .middlecontent-3 .container{
	padding-left:0px;
	padding-right:0px;
    padding-bottom:20px;
}
.col-bg{
	background:#f3f3f3;
	padding:20px 20px;
}
.col-bg li{
	padding: 7px 15px 5px 15px;
}
.middlecontent-2{
	margin-bottom:0px;
}
.middlecontent-3 .col-md-9 .col-bg{
    height:200px;
    overflow-y:scroll;
}
.middlecontent-3 .col-md-9 .row{
    margin-bottom:10px;
    border-bottom:1px solid #cacaca;
}
.middlecontent-3 .col-md-9 .row:last-child {
    border-bottom: none;
}
.stakeholders-heading{
	font-size:16px;
	text-transform:uppercase;
	color:#535353 !important;
	font-weight:bold;
}
.maps-li{
	border-top:3px solid #fff;
}
.maps-li li{
	list-style:none;
	padding:5px;
	color:#535353;
	background:#f3f3f3;
	transition:all 0.3s ease-in-out;
	border-bottom:1px solid #999999 !important;
}
.maps-li li:hover{
	background:#fff;
	border-bottom:1px solid #f00 !important;
}
.maps-li li:last-child{
	border-bottom:none;
}
.panel-title{
	font-family:'opensansregular';
	font-size:14px !important;
	color:#000 !important;
	text-transform:uppercase;
}
.panel-group{
}
.middlecontent-3{
	margin-bottom:0px;
}
.footer{
	background:#0c8ece !important;
	padding:15px 15px !important;
	color:#f6f6f6;
}
.footer-heading{
	background:#014B70;
	padding:10px;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	margin-bottom:15px;
}
.footer-middle-h1{
	margin-bottom:0px;
	margin-top:0px;
}
.module-heading2-col p{
	font-size:14px;
	color:#000 !important;
	font-family:'proximanova';
	text-shadow:1px 0px 0px #fff;
}
.glossary-title{
	font-family:'proximanova';
	font-size:14px;
	color:#000;
	text-decoration:underline;
}
.glossary-details{
	font-size:12px;
	color:#000;
	font-style:italic;
	font-family:'proximanova';
	margin-bottom:10px;
}
.glossary{
	overflow-y:scroll;
	height:230px;
}
.glossary .row{
	border-bottom:1px solid #a1a1a1;
	margin-bottom:3px;
}
.date{
	font-family:'opensanssemi';
	color:#535353;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bolder;
	text-shadow:0px 1px 0px #535353;
}
.news-details{
	font-family:'proximanova';
	font-size:14px;
	color:#535353;
	font-weight:bold;
	margin-bottom:10px;
}
.news-view-all{
	color:#d50b17;
	font-family:'opensanssemi';
	font-size:14px;
}
.usefullinks ul{
	padding-left:20px;
}
.usefullinks li a{
	color:#000;
	font-size:14px;
	font-family:'proximanova';
	font-weight:bold;
}
.usefullinks li a:hover{
	color:#f00;
}
.usefullinks li{
	list-style-image:url(../images/useful-links-bullet.png);
	padding-bottom:2px !important;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
}
.usefullinks li:last-child{
	padding-bottom:0px !important;
}
.panel-body li a{
	color:#535353;
}
.panel-body li a:hover{
	color:#f00;
	font-weight:bold;
}
.panel-body li{
	list-style-image:url(../images/resource-bullet.png);
}
.footer-middle-h1{
	font-family:'opensanssemi';
	color:#fff;
	text-transform:uppercase;
}
.footer span{
	margin-right:5px;
}
.footer a{
	color:#fff;
}
.footer a:hover{
	color:#CCC;
}
.footer-2{
	background:#014b70;
}
.footer-2-col-left{
	font-family:'proximanova';
	font-size:10px;
	color:#bebebe;
}
.footer-2-col-left a{
	color:#fff;
}
.footer-2-col-right{
	color:#fff;
}
.navbar-toggle{
	float:none;
}
.caption-box{
	background:rgba(40,40,40,0.8);
}
.carousel-caption{
	color:#fff !important;
	text-align:left;
}
.caption-box{
	padding:10px;
	margin-bottom:10px;
}
.caption-box:last-child{
	margin-bottom:-50px;
}
.caption-title{
	font-family:'opensanssemi';
	color:#fff;
	font-size:14px;
	text-shadow:none;
}
.caption-details{
	font-family:'opensans';
	color:#fff;
	text-shadow:none;
	font-size:12px;
}
.breadcrumb{
	background:#1AA6DC;
	border:1px solid #0D63AE;
}
.breadcrumb li{
	color:#fff;
	font-family:'gothic';
}
.breadcrumb li a{
	color:#fff;
	font-weight:bold;
	font-family:'gothic';
}
.breadcrumb li a:hover{
	color:#0D63AE;
}
.xflexslider{
	padding:15px;
}
.flexslider ul{
	padding-left:0px;
}
.flexslider ul li:last-child{
	border-bottom:none;
	padding-bottom:0px;
}
.flexslider ul h3{
	font-weight:bold;
}
.data-items .col-md-3{
	padding:10px;
}
.flex-source{
	font-style:italic;
}
.issue-title{
	font-family:'gothic';
}
.data-items i{
	font-size:60px !important;
	margin-right:25px;
}
.data-items{
	margin-bottom:20px;
}
.latest-content a{
	font-family:'opensanssemi';
	text-transform:capitalize;
	font-size:17px;
	color:#0D63AE;
}
.latest-content span{
	font-style:italic;
	color:#333;
}
.project .picture img{
	height:180px;
	z-index:1;
	width:100%;
}
.project .picture .overlay {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100% !important;
	height: 100% !important;
	background: rgba(0,0,0,.8);
	overflow: hidden;
	display: none;
}
.project {
	text-align: center;
}
ul {
	list-style: none outside;
}
.project .picture .overlay .actions {
	text-align: center;
	position: relative;
	width: 100% !important;
	height: 100% !important;
}
.project .picture {
	position: relative;
	border: 1px solid #eee;
	padding: 4px;
}
.project .picture .overlay .actions a.search {
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: -5px;
	float: left;
}
.project .picture .overlay .actions a:hover {
	color: #fff;
}
.default_desc p {
	font-size: 14px !important;
	line-height: 18px !important;
	margin-top:0px;
}
.gallery-slider li{
	margin:5px !important;
}
@media (min-width:992px){
	header{
		height:120px;
	}
	nav li{
		border-right:1px solid #000000;
	}
	nav li:last-child{
		border-right:none;
	}
	.navbar-collapse{
		padding-left:0px;
		padding-right:0px;
	}
	.page-heading{
	}
	.module-heading2-col{
	}
	.middlecontent-2 .carousel img{
		height:300px !important;
		width:100%;
	}
	.footer{
		height:160px;
	}
	.footer-middle{
		text-align:center;
	}
	.footer-middle-h1{
		font-size:43px;
	}
	.footer-right{
		text-align:right;
	}
	.footer-2{
		height:30px;
	}
	.footer-2-col-left{
		text-align:left;
	}
	.footer-2-col-left p{
		margin:8px 0px 0px 0px;
	}
	.footer-2-col-right{
		text-align:right;
	}
	.footer-2-col-right p{
		margin:5px 0px 0px 0px;
	}
	.flag{
		margin-top:10px;
		float:right;
	}
	.stakeholders-col{
		margin-top:-120px;
	}
	.data-items .col-md-3{
		border-right:5px solid #848484;
		text-align:center;
	}
	.data-items .col-md-3:last-child{
		border-right:none;
	}
	.banner-col, .carousel-inner, .carousel-inner .item.active{
		height:350px;	
	}
}
@media screen and (min-width:769px) and (max-width:991px){
	.middlecontent-1, .middlecontent-2, .middlecontent-3{
		margin-bottom:0px;
	}
	.module-heading2-col{
		margin-bottom:20px;
	}
	.middlecontent-1 .col-md-3{
		margin-bottom:20px;
	}
	.middlecontent-2 .col-md-3{
		margin-bottom:20px;
	}
	.middlecontent-3 .col-md-3{
		margin-bottom:20px;
	}	
	header, nav{
		margin-bottom:20px;
	}
}
@media screen and (max-width:768px){
	header{
		text-align:center;
	}
	.page-heading{
		font-size:20px;
	}
	.middlecontent-1, .middlecontent-2, .middlecontent-3{
		margin-bottom:0px;
	}
	.module-heading2-col{
		margin-bottom:20px;
	}
	.middlecontent-1 .col-md-3{
		margin-bottom:20px;
	}
	.middlecontent-2 .col-md-3{
		margin-bottom:20px;
	}
	.middlecontent-3 .col-md-3{
		margin-bottom:20px;
	}
	.footer .col-md-4{
		margin-bottom:5px;
		border-bottom:1px solid #efefef;
		padding-bottom:5px;
	}
	.footer .col-md-4:last-child{
		border-bottom:none;
		margin-bottom:0px;
		padding:0px;
	}
	.navbar-collapse{
		padding-top:0px;
		padding-bottom:0px;
	}
	.footer-2{
		text-align:center;
		padding:5px 0px;
	}
	.data-items .col-md-3{
		border-bottom:2px solid #848484;
		text-align:left;
	}
	.flag{
		display:none;
	}
	header .col-md-1{
		margin-bottom:20px;
	}
}