﻿
@model NepalIntermodal.Areas.Admin.Models.AboutViewModel
@using NepalIntermodal.Models;
@{
    ViewBag.Title = "About";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>
                        <span id="ContentPlaceHolder1_lblTitle">About</span>
                    </li>
                </ol>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
                <span id="ContentPlaceHolder1_lblPageTitle">@ViewBag.heading</span>
            </h1>
        </div>
        <div class="row-fluid">

            @{
                //var DVM = new kukl.Areas.Admin.Models.DetailsViewModel();
                ApplicationDbContext db = new ApplicationDbContext();
                // var aa = new List<kukl.Areas.Admin.Models.DetailsViewModel>();
                NepalIntermodal.Areas.Admin.Models.AboutViewModel AVM = new NepalIntermodal.Areas.Admin.Models.AboutViewModel();
                string database = ViewContext.RouteData.GetRequiredString("id");
                switch (database.ToLower())
                {
                    case "overview":
                        var aa = db.Abouts.SingleOrDefault();
                        try
                        {
                            AVM.Description = aa.Overview;
                        }
                        catch
                        {

                        }

                        break;
                    case "objective":
                        var bb = db.Abouts.SingleOrDefault();
                        AVM.Description = bb.Objective;
                        break;
                    case "function":
                        var cc = db.Abouts.SingleOrDefault();
                        AVM.Description = cc.Function;
                        break;

                    case "organizationalstructure":
                        var dd = db.Abouts.SingleOrDefault();
                        try
                        {
                            AVM.Description = dd.ImageUrl;
                        }
                        catch
                        {

                        }
                        break;
                }
            }
            @if (database == "organizationalstructure")
            {
                <p style="text-align: justify;">
                    <img src="@AVM.Description" style="width:100%; height:550px;" />
                </p>
            }
            else
            {
                <div class="col-md-12">

                    <p style="text-align: justify;">
                        @Html.Raw(AVM.Description)
                    </p>

                </div>
            }



        </div>

    </div>
</section>







