﻿@{
    ViewBag.Title = "Contact";
}
@using NepalIntermodal.Models;
@model NepalIntermodal.Areas.Admin.Models.Contact








    <div class="container">
        <ol class="breadcrumb">
            <li><a href="~/Home/Index">Home</a></li>
            <li>
                <span>Contact Us</span>
            </li>
        </ol>
        <div class="row">
            <div class="col-md-12 clearfix">
                <div>
                    <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
                        <span>Contact Us</span>
                    </h1>
                </div>
                <div class="row-fluid">
                    <div class="col-md-6">
                        <p style="font-size:18px; color: #DB152E; font-weight: bold;">For any enquiry and information contact:</p><br />
                        <p style="font-size:20px; color:#000;
                 font-weight:bold;">
                            Nepal Intermodal Transport Development Board<br />
                            Sarathi Marga, Gyaneshwar, Kathmandu, Nepal<br />
                            Telephone: 977-1-4440936<br />
                            Email: <a href="#">nitb@wlink.com.np</a><br />
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label>Send Message</label>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           
                            <div class="form-group">
                                <div class="row" style="margin-bottom:10px;">
                                    <div class="col-md-2">@Html.LabelFor(model => model.Name)</div>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row" style="margin-bottom:10px;">
                                    <div class=" col-md-2">@Html.LabelFor(model => model.Email)</div>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })



                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row" style="margin-bottom:10px;">
                                    <div class=" col-md-2">@Html.LabelFor(model => model.PhoneNo)</div>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })



                                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row" style="margin-bottom:10px;">
                                    <div class=" col-md-2">@Html.LabelFor(model => model.Message)</div>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-5"></div>
                                </div>

                                <div class="form-actions">
                                    <div class=" col-md-offset-2 col-md-10" style="margin-bottom:10px;">
                                        <input type="submit" value="Send Message" class="btn btn-default" />
                                    </div>
                                </div>


                                
                            </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>

