﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>
                        <span id="ContentPlaceHolder1_lblTitle">About Us</span>
                    </li>
                </ol>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
                <span id="ContentPlaceHolder1_lblPageTitle">About Us</span>
            </h1>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <p style="text-align: justify;">
                    HMG/Nepal has established the "Nepal Intermodal Transport Development Board" (NITDB) in 2054 BS in accordance with the provisions of the Development Board Act 2013 BS. NITDB is chaired by the Secretary in the Ministry of Industry, Commerce and Supplies and consisted of members from public and private sector entities. The main objective of NITDB is to oversee the economical and efficient management of Inland Clearance Depots (ICDs) for facilitation of Nepal's foreign trade. The functions, duties and powers of the NITDB are, inter alia, as follows:
                </p>
            </div>
            @*<div class="col-md-3 sidebar-pic">
                <ul>
                    <li>
                        <h4 style="text-align: center;"><b>Figure:1</b></h4>
                        <div class="project">
                            <div class="picture">
                                <a class="fancybox" rel="image" href="~/Views/images/fhd_01.jpg"><img src="~/Views/images/fhd_01.jpg" alt="" /></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
</section>

