﻿
@using LIMS.Models;
@model LIMS.Areas.Admin.Models.Contactus

@{
    //ViewBag.Title = "Contact";
    ViewBag.Class = "interior";
    ViewBag.id = "contact";
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Feedback = "active";
    ApplicationDbContext db = new ApplicationDbContext();

}

<section id="main-content" class="clearfix">
    <div class="container">
        <div class="row">
           <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
                            <ol class="breadcrumb">
                                <li><a href="~/Home/Index">Home</a></li>
                                <li>
                                    <span>Feedback</span>
                                </li>
                            </ol>
                        </div>
                    </div>
              
                    <div style="margin-top: 20px;">
                        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
                            <span>Feedback</span>
                        </h1>
                    </div>
               </div>
                    <div>
                        <label>Send Message</label>
                            @using (Html.BeginForm("CreateMessage", "Home"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            }
    <div class="form-group">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-2">@Html.LabelFor(model => model.Name)</div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class=" col-md-2">@Html.LabelFor(model => model.Email)</div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })



                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class=" col-md-2">@Html.LabelFor(model => model.PhoneNo)</div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })



                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class=" col-md-2">@Html.LabelFor(model => model.Message)</div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-5"></div>
        </div>

        <div class="form-actions">
            <div class=" col-md-offset-2 col-md-10" style="margin-bottom:10px;">
                <input type="submit" value="Send Message" class="btn btn-default" />
            </div>
        </div>


        }
    </div>

                </div>

</div>
            </div></section>

