﻿@using NepalIntermodal.Models
@using NepalIntermodal.Areas.Admin.Models;

@{
    ViewBag.Title = "Home Page";
    ApplicationDbContext db = new ApplicationDbContext();
    var news = db.News.OrderByDescending(x => x.CreatedDate).Take(5).ToList();
    var banner = db.Banners.OrderByDescending(x => x.CreatedDate).Take(5).ToList();
    var activity = db.CurrentActivities.OrderByDescending(x=>x.CreatedDate).Take(5).ToList();
    var officers = db.Officer_message.OrderByDescending(x=>x.CreatedDate).Take(5).ToList();
    var links = db.UseFullinks.OrderByDescending(x=>x.CreatedDate).Take(5).ToList();
    int ii = 0;
}

<section>
    <div class="middlecontent-1">
        <div class="container">
            <div class="col-md-4">
                @foreach (var items in officers)
                {
                    <div class="col-bg resource-col">
                        <div>
                            <img src="@items.ImageUrl" width="116px" height="110px" align="left">
                        </div>
                        <div>
                            <p>@items.Designation</p>
                            @try
                            {
                                <p>@Html.Raw(items.Description.Substring(0,120))</p>
                            }
                            catch
                            {
                                <p>@Html.Raw(items.Description)</p>
                            }
                            
                        </div>
                    </div>
                }
                
        
            </div>



            <div class="col-md-8 module-heading2-col banner-col">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner" role="listbox">

                        @foreach (Banner banners in banner)
                        {
                            // if (ii==0){<div class="item active">} : {<div class="item">}
                            if (ii == 0)
                            {
                                @Html.Raw("<div class=\"item active\">");
                                                                        ii += 1;
                            }
                            else
                            {
                                @Html.Raw("<div class=\"item\">");
                            }
                            <img src="@banners.ImageUrl" alt="" class="img-responsive">
                            <div class="carousel-caption">
                                <div class="caption-box">
                                    <div class="caption-title">@banners.Headline</div>
                                    <div class="caption-details">@banners.BaseLine</div>

                                </div>
                                @*<div class="caption-box">
                                        <div class="caption-title">Photo Title</div>
                                        <div class="caption-details">This is Photo decription</div>
                                    </div>*@
                            </div>
                            @Html.Raw("</div>")
                        }
                    </div>


                    @*<div class="item">
                            <img src="images/fhd_02.jpg" alt="" class="img-responsive">
                            <div class="carousel-caption">
                                <div class="caption-box">
                                    <div class="caption-title">Title</div>
                                    <div class="caption-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                <div class="caption-box">
                                    <div class="caption-title">Title</div>
                                    <div class="caption-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>

                            </div>
                        </div>*@

                </div>

                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </div>



    <!----------------------------------------middlecontent1 closed-------------------------------------------------------->

    <div class="middlecontent-3">
        <div class="container">

            <div class="col-md-4 module-heading2-col">
                <div class="module-heading2"><i class="icons news-icon"></i>news, events & announcements</div>
                <div class="col-bg usefullinks">
                    <ul>
                        @foreach (var items in news)
                        {
                            <li><a href="~/Home/NewsDetails/@items.NewsId">@items.Title</a></li>

                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="module-heading1"><i class="icons social-icon"></i>Current Activities</div>
                <div class="col-bg usefullinks">
                    <ul>
                        @foreach (var items in activity)
                        {
                            <li><a href="~/Home/ActivityDetails/@items.CurrentActivityId" >@items.Name</a></li>
                        }
                        
                      
                    </ul>
                </div>



            </div>
            <div class="col-md-4">
                <div class="module-heading2"><i class="icons usefullinks-icon"></i>useful links</div>
                <div class="col-bg usefullinks">
                    <ul>
                        @foreach (var items in links)
                        {
                            <li><a href="@items.URL" target="_blank">@items.Title</a></li>

                        }
                      
                    </ul>
                </div>



            </div>
        </div>
    </div>
    <!----------------------------------------middlecontent3 closed-------------------------------------------------------->
</section>