﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NepalIntermodal.Areas.Admin.Models.About


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span id="ContentPlaceHolder1_lblTitle">About</span>
                </li>
            </ol>
        </div>
    </div>

    <div style="margin-top: 20px;" id="overview">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Organizational Overview</span>
        </h1>
    </div>
    <div class="row-fluid" >
        <div class="col-md-12">
           @Html.Raw(Model.Overview)
            
        </div>
        
    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Objectives</span>
        </h1>
    </div>
    <div class="row-fluid" id="objective">
        <div class="col-md-12">
            @Html.Raw(Model.Objective)

        </div>

    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Function</span>
        </h1>
    </div>
    <div class="row-fluid" id="function">
        <div class="col-md-12">
            @Html.Raw(Model.Function)

        </div>

    </div>
</div>