﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<NepalIntermodal.Areas.Admin.Models.LegalDocument>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span id="ContentPlaceHolder1_lblTitle">Legal Documents</span>
                </li>
            </ol>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Legal Documents (@ViewBag.doctype)</span>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            @foreach (var items in Model)
            {
                <ol class="listing">

                    <li> <a href="@items.LinkUrl">@items.Title</a></li>

                </ol>
            }

            </div>
        </div>
</div>
