﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="main-content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar col">
                    <h2>Your Message is Sent.</h2>
                </aside>
            </div>
            @*@Html.Partial("_ContactDetails")*@
        </div>
    </div>
</section>

