﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "News Details";
}
@model NepalIntermodal.Areas.Admin.Models.News
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>
                        <span id="ContentPlaceHolder1_lblTitle">About</span>
                    </li>
                </ol>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
                <span id="ContentPlaceHolder1_lblPageTitle">@ViewBag.Title</span>
            </h1>
        </div>
        <div class="row-fluid">

            <div class="col-md-12">
                <h3>@Model.Title</h3>
                <p>@Model.Publishdate</p>
                <p>@Html.Raw(Model.Description)</p>
                <p>@Model.Reference</p>
                @if (Model.LinkUrl != null)
                {
                    <p><a href="@Model.LinkUrl">Source</a></p>
                }
                else
                {

                }

            </div>

        </div>
    </div>
</section>
