﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span id="ContentPlaceHolder1_lblTitle">Objective</span>
                </li>
            </ol>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Objective</span>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="col-md-9">
            <p style="text-align: justify;">
                Main objectives of the ICDs are to reduce transport cost, achieve competitiveness in imports and exports through reduced overhead costs, promote competitive transport services and open opportunities to private sector operators through their involvement in management and operation of ICDs.
            </p>

        </div>
        <div class="col-md-3 sidebar-pic">
            <ul>
                <li>
                    <h4 style="text-align: center;"><b>Figure:1</b></h4>
                    <div class="project">
                        <div class="picture">
                            <a class="fancybox" rel="image" href="~/images/fhd_01.jpg" target="_blank"><img src="~/images/fhd_01.jpg" alt="" /></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>