﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NepalIntermodal.Areas.Admin.Models;
@using NepalIntermodal.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var structure = db.Abouts.ToList();
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span id="ContentPlaceHolder1_lblTitle">Organizational Structure</span>
                </li>
            </ol>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Organizational Structure</span>
        </h1>
    </div>
    <div class="row-fluid">
        @foreach (var items in structure)
        {
            <div class="col-md-3">
                <div class="row">
                    <div class="picture">
                        <img src="@items.ImageUrl" alt="" style= "width:100%; height:500px "  />
                    </div>
                </div>
            </div>
        }


    </div>


</div>
