﻿@model IEnumerable<NepalIntermodal.Areas.Admin.Models.ListViewModel>
    @using NepalIntermodal.Models;


    @{
    ViewBag.Title = "Publication";
    Layout = "~/Views/Shared/_Layout.cshtml";

    }
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>
                        <span id="ContentPlaceHolder1_lblTitle">Publication</span>
                    </li>
                </ol>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
                <span id="ContentPlaceHolder1_lblPageTitle">@ViewBag.heading</span>
            </h1>
        </div>
        <div class="row-fluid">

            @{

            ApplicationDbContext db = new ApplicationDbContext();
             //var aa = new List<NepalIntermodal.Areas.Admin.Models.ListViewModel>();
            NepalIntermodal.Areas.Admin.Models.ListViewModel LVM = new NepalIntermodal.Areas.Admin.Models.ListViewModel();
            string database = ViewContext.RouteData.GetRequiredString("id");
            switch (database.ToLower())
            {
                case "report":
                    var aa = db.Publications.ToList();
                    break;

                case "smarika":
                    var bb = db.Publications.SingleOrDefault();
                    LVM.LinkUrl = bb.LinkUrl;
                    break;
                case "notice":
                    var cc = db.Abouts.SingleOrDefault();
                    LVM.Title = cc.Function;
                    break;

                
            }
            }
            @if (LVM.Title != null)
            {
                foreach (var items in Model)
                {
                    <div class="col-md-12">
                        <p style="text-align: justify;color:#AE1B16;">
                            <b>@items.Title</b>
                        </p>
                       

                    </div>
                }

            }


        </div>

        
    </div>

