﻿@model IEnumerable<LIMS.Areas.Admin.Models.RelatedAct>

@{
    ViewBag.Title = "RelatedAct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Publication = "active";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span id="ContentPlaceHolder1_lblTitle">Related_Acts</span>
                </li>
            </ol>
        </div>
    </div>
    <table class="table table-hover">
        <tr style="border-bottom:2px solid #808080;">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th>
                File
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @* <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    <a href="@item.ImageUrl">Download</a>
                </td>

            </tr>
        }

    </table>
</div>

