﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span id="ContentPlaceHolder1_lblTitle">Salient Features</span>
                </li>
            </ol>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span id="ContentPlaceHolder1_lblPageTitle">Salient Features</span>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <p style="text-align: justify;">
                NITDB has leased out three ICDs for a period of 10 years. Biratnagar and Bhairahawa ICDs were leased out to the Trans Nepal Freight Services Pvt. Ltd. on 20 March 2002 and Birgunj ICD to Himalayan Terminals Pvt. Ltd. on 6 July 2004. Both the terminal management companies are joint venture of Nepalese and Indian enterprises.
            </p>
            <p>
                <div style="color:#AE1B16; font-weight:bold;">Salient Features of the completed ICDs are as follows:</div>
                <ul style="list-style:outside; padding-left:15px; list-style-image:url(images/useful-links-bullet.png);">
                    <li><a href="#birgunj">Birgunj ICD</a></li>
                    <li><a href="#biratnagar">Biratnagar ICD</a></li>
                    <li><a href="#bhairahawa">Bhairahawa ICD</a></li>
                </ul>
            </p>
        </div>

    </div>
    <div class="row-fluid" id="birgunj">
        <div class="col-md-9">
            <p style="text-align: justify;">
                <div style="color:#AE1B16; font-weight:bold;">Birgunj ICD:</div>
                <ul style="list-style:outside; padding-left:15px; list-style-image:url(images/resource-bullet.png);">
                    <li>Rail based ICD;</li>
                    <li>Broad Gauge Railway yard with 6 full length lines;</li>
                    <li>Boundary Wall of 3.15 Km. long & 3.6m. high:</li>
                    <li>Administrative block of 1130 Sq.m. floor area;</li>
                    <li>Container stacking yard of 685x 64m with 656 grounds slots capable of holding 1586 TEUs;</li>
                    <li>Covered Container Freight Station of 203x 35m with 231 ground slots;</li>
                    <li>High-Level goods platform of 38.5x 700m with full rail rake length;</li>
                    <li>Covered Goods Shed on 1.2m high platform of 405x 26.5m with 160 ground slots;</li>
                    <li>Covered Customs litigation shed of 25x21m;</li>
                    <li>High mast lighting with boundary lights;</li>
                    <li>Electric substation of 630 KVA, 11/0.4 KVA with one 380 KVA D. G. SET;</li>
                    <li>Fire detection and alarm system;</li>
                    <li>Cement concrete paved area for parking of 250 freight vehicles and 30 big size trailers.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-3 sidebar-pic">
            <ul>
                <li>
                    <h4 style="text-align: center;"><b>Container Flow through Birgunj ICD (Click)</b></h4>
                    <div class="project">
                        <div class="picture">
                            <a class="fancybox" rel="image" href="~/images/fhd_02.jpg" target="_blank"><img src="~/images/fhd_02.jpg" alt="" /></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid" id="biratnagar">
        <div class="col-md-9">
            <p style="text-align: justify;">
                <div style="color:#AE1B16; font-weight:bold;">Biratnagar ICD:</div>
                <ul style="list-style:outside; padding-left:15px; list-style-image:url(~/Views/images/resource-bullet.png);">
                    <li>Rail based ICD;</li>
                    <li>Broad Gauge Railway yard with 6 full length lines;</li>
                    <li>Boundary Wall of 3.15 Km. long & 3.6m. high:</li>
                    <li>Administrative block of 1130 Sq.m. floor area;</li>
                    <li>Container stacking yard of 685x 64m with 656 grounds slots capable of holding 1586 TEUs;</li>
                    <li>Covered Container Freight Station of 203x 35m with 231 ground slots;</li>
                    <li>High-Level goods platform of 38.5x 700m with full rail rake length;</li>
                    <li>Covered Goods Shed on 1.2m high platform of 405x 26.5m with 160 ground slots;</li>
                    <li>Covered Customs litigation shed of 25x21m;</li>
                    <li>High mast lighting with boundary lights;</li>
                    <li>Electric substation of 630 KVA, 11/0.4 KVA with one 380 KVA D. G. SET;</li>
                    <li>Fire detection and alarm system;</li>
                    <li>Cement concrete paved area for parking of 250 freight vehicles and 30 big size trailers.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-3 sidebar-pic">
            <ul>
                <li>
                    <h4 style="text-align: center;"><b></b></h4>
                    <div class="project">
                        <div class="picture">
                            <a class="fancybox" rel="image" href="~/images/fhd_01.jpg" target="_blank"><img src="~/images/fhd_01.jpg" alt="" /></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid" id="bhairahawa">
        <div class="col-md-9">
            <p style="text-align: justify;">
                <div style="color:#AE1B16; font-weight:bold;">Bhairahawa ICD:</div>
                <ul style="list-style:outside; padding-left:15px; list-style-image:url(~/Views/images/resource-bullet.png);">
                    <li>Rail based ICD;</li>
                    <li>Broad Gauge Railway yard with 6 full length lines;</li>
                    <li>Boundary Wall of 3.15 Km. long & 3.6m. high:</li>
                    <li>Administrative block of 1130 Sq.m. floor area;</li>
                    <li>Container stacking yard of 685x 64m with 656 grounds slots capable of holding 1586 TEUs;</li>
                    <li>Covered Container Freight Station of 203x 35m with 231 ground slots;</li>
                    <li>High-Level goods platform of 38.5x 700m with full rail rake length;</li>
                    <li>Covered Goods Shed on 1.2m high platform of 405x 26.5m with 160 ground slots;</li>
                    <li>Covered Customs litigation shed of 25x21m;</li>
                    <li>High mast lighting with boundary lights;</li>
                    <li>Electric substation of 630 KVA, 11/0.4 KVA with one 380 KVA D. G. SET;</li>
                    <li>Fire detection and alarm system;</li>
                    <li>Cement concrete paved area for parking of 250 freight vehicles and 30 big size trailers.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-3 sidebar-pic">
            <ul>
                <li>
                    <h4 style="text-align: center;"><b></b></h4>
                    <div class="project">
                        <div class="picture">
                            <a class="fancybox" rel="image" href="~/images/fhd_04.jpg" target="_blank"><img src="~/images/fhd_04.jpg" alt=""/></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
