﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 clearfix">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>
                    <span>Service Charges</span>
                </li>
            </ol>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <h1 style="border-bottom: 6px solid #848484; margin-bottom: 30px; color: #848484;">
            <span>Service Charges</span>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="col-md-6">
            <p style="color:#C10813; font-weight:bold;">Schedule of Services Charges (Users' Fees) of the three ICDs are as follows:</p>
            <ul style="list-style-image:url(images/useful-links-bullet.png); padding-left:15px;">
                <li><a href="#">Birgunj ICD</a></li>
                <li><a href="#">Biratnagar ICD</a></li>
                <li><a href="#">Bhairahawa ICD</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <p style="color:#C10813; font-weight:bold;">Note: To view these files you need to have Acrobat Reader.</p>
            <p style="font-weight:bold;">If you dont have it, than please click here to download the latest version of Acrobat Reader to read and print our following documents. </p>
            <p><a href="#"><img src="images/pdfreader.gif" /></a></p>
        </div>
    </div>
</div>