﻿@model NepalIntermodal.Areas.Admin.Models.Publication

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


													@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.CreatedBy)
	 @Html.HiddenFor(model => model.CreatedDate)
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i> Edit Publication </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li><a href="~/admin/Publication/create/">Create New Publication</a></li>
									<li><a href="/admin/Publications/index"> <input type="button" value="Back To List" class="btn btn-danger" /><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
@*//The Down Part*@
    <div class="form-horizontal col-md-10">
        <h4>Publication</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PublicationId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.Publishdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Publishdate, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Publishdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.LinkUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publication_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Publication_Type, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Publication_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Publication" class="btn btn-success" />
				<a href="/admin/Publications/index"> <input type="button" value="Back To List" class="btn btn-danger" /><a>
                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
	   <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>


