﻿@*@model IEnumerable<NepalIntermodal.Areas.Admin.Models.Publication>*@
@model PagedList.IPagedList<NepalIntermodal.Areas.Admin.Models.Publication>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

    @*@Html.ActionLink("Create New", "Create")*@
@*The Upper Part*@         
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i> Publication Dashboard </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li><a href="~/admin/Publications/create/">Create New Publication</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
@*//The Down Part*@
@*<div class="form-horizontal" col-md-10>
<table class="table">*@
<div class="the-box no-border full">
    <div class="table-responsive">
        <table class="table table-th-block">
  <thead>    
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
			@Html.ActionLink("X", "Index",new { SortingOrder = ViewBag.SortingName,FilterValue = ViewBag.FilterValue})
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.First().Publishdate)
			@Html.ActionLink("X", "Index",new { SortingOrder = ViewBag.SortingName,FilterValue = ViewBag.FilterValue})
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().LinkUrl)
			@Html.ActionLink("X", "Index",new { SortingOrder = ViewBag.SortingName,FilterValue = ViewBag.FilterValue})
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Publication_Type)
			@Html.ActionLink("X", "Index",new { SortingOrder = ViewBag.SortingName,FilterValue = ViewBag.FilterValue})
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Active)
			@Html.ActionLink("X", "Index",new { SortingOrder = ViewBag.SortingName,FilterValue = ViewBag.FilterValue})
        </th>
        <th></th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Publishdate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.LinkUrl)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Publication_Type)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Active)
		           </td>
	 
        <td>
            @* @Html.ActionLink("Edit", "Edit", new { id=item.PublicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PublicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PublicationId }) *@
             @Html.ActionLink(" Edit", "Edit", new {id = item.PublicationId},new {@class = "fa fa-pencil",@style="text-decoration:none;"}) |
             @Html.ActionLink(" Details", "Details", new {id = item.PublicationId}, new {@class = "fa fa-database", @style="text-decoration:none;"}) |
             @Html.ActionLink(" Delete", "Delete", new {id = item.PublicationId}, new {@class = "fa fa-trash-o",@style="text-decoration:none;"})

        </td>
    </tr>
}
  </tbody>
        </table>
    </div>
</div>

@*</table>
</div>*@


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))
