﻿@model NepalIntermodal.Areas.Admin.Models.About

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
@*    <h4>About</h4>
    <hr />*@
 @*The Upper Part*@         
    
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i>Delete from About  </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li><a href="~/admin/About/create/">Create New About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Objective)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Objective)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overview)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Overview)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Function)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Function)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salient_Feature)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Salient_Feature)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
							@if (Model.ImageUrl != null)
				  {
						<div class="magnific-popup-wrap col-xs-6 col-md-3">
							<a class="zooming" href="@Model.ImageUrl" title="Image title here">
								<img src="@Model.ImageUrl.Replace(".jpg","_thumb.jpg")" alt="Image" class="mfp-fade item-gallery img-responsive">
							</a>
						</div>
				  }
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Active)
			        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
