﻿@using NepalIntermodal.Areas.Admin.Models;
@using NepalIntermodal.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var legaldocs = db.LegalDocument_Type.ToList();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,500,300' rel='stylesheet' type='text/css'>

    <!-- STYLE -->
    <link rel="icon" href="~/lib/images/logo-govt.png" />
    <link rel="stylesheet" type="text/css" href="~/lib/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/css/style.css" />
    <title>@ViewBag.Title - Nepal Intermodal Transport Development Board</title>
</head>
<body id="@ViewBag.id" class="@ViewBag.Class">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56935786-2', 'auto');
        ga('send', 'pageview');

    </script>
    <div class="container">
        <header>
            <div class="col-md-1">
                <img src="~/lib/images/logo-govt.png" />
            </div>
            <div class="col-md-7">
                <div class="govt">goverment of nepal</div>
                <div class="ministry">ministry of commercy and supplies</div>
                <div class="page-heading">Nepal Intermodal Transport Development Board</div>
                <div class="address">sarathi marg, gyaneshwor, Kathmandu, Nepal</div>
            </div>
            <div class="col-md-4">
                <img src="~/lib/images/nepflag.gif" class="flag" />
            </div>
        </header>
    </div>
    <div>
        <div class="container">
            <nav>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="~/Home/Index">Home</a></li>
                        <li>
                            <a href="~/Home/About" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">about NITB<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/home/Introduction/#overview">Organizational Overview</a></li>
                                <li><a href="~/Home/Introduction/#objective">Objectives</a></li>
                                <li><a href="~/Home/Introduction/#function">Functions</a></li>
                                <li><a href="~/Home/BoardMembers">Board Members</a></li>
                                <li><a href="~/Home/OrganizationalStructure">Organizational Structure</a></li>
                                @*<li><a href="~/Home/Introduction">Citizens Charter</a></li>*@

                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/icd" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ICD/Dry Port<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/ICD">Birgunj ICD</a></li>
                                <li><a href="~/Home/ICD">Biratnagar ICD</a></li>
                                <li><a href="~/Home/ICD">Bhairahawa ICD</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/icd" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Legal Documnets<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var items in legaldocs)
                                {
                                    <li><a href="~/Home/LegalDocuments/@items.LegalDocument_TypeId">@items.Name</a></li>
                                }
                                
                                @*<li><a href="~/Home/Agreement">Agreement</a></li>
                                <li><a href="~/Home/Treaty">Treaty</a></li>
                                <li><a href="~/Home/Procedure">Procedure</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/icd" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publications<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/Publication/Report">Report</a></li>
                                <li><a href="~/Home/Publication/Smarika">Smarika</a></li>
                                <li><a href="~/Home/Publication/Notice">Notice</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Home/Gallery">Gallery</a></li>
                        <li><a href="~/Home/Contact">contact us</a></li>
                        @*@{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="~/Admin/Message">NITB.Net</a></li>
                            }
                            else
                            {
                                <li><a href="~/Account/Login/">Login</a></li>
                            }
                        }*@


                    </ul>

                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        @*<div class="row-fluid">
            <div class="col-md-3">
                <div class="module-heading1"><i class="icons resource-icon"></i>contents</div>
                <div class="col-bg resource-col">
                    <ul>
                        <li><a href="#">introduction</a></li>
                        <li><a href="#">ICD/ Dry Port</a></li>
                        <li><a href="#">Objectives of ICD</a></li>
                        <li><a href="#">Salient Features</a></li>
                        <li><a href="#">Service Charges</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Related Acts</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
                </div>*@
    </div>
    <section>
        @RenderBody()
    </section>
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-heading">Nepal Intermodal Transport Development Board</div>
                    <div class="footer-description"><span class="glyphicon glyphicon-map-marker"></span>Sarathi Marg, Gyaneshwor, Kathmandu, Nepal</div>
                    <div class="footer-description"><span class="glyphicon glyphicon-phone-alt"></span>Phone: (+977)-014211136</div>
                    <div class="footer-description"><span class="glyphicon glyphicon-envelope"></span>Email: npcs@npc.gov.np</div>
                    <div class="footer-description"><span class="glyphicon glyphicon-globe"></span>Web: <a href="http://www.npc.gov.np" target="_blank">http://www.npc.gov.np</a></div>
                </div>

                <div class="col-md-6 footer-right">
                    <div class="footer-heading">download fonts</div>
                    <ul>
                        <li><a href="~/images/Preeti1.TTF">Preeti</a></li>
                        <li><a href="~/images/Himalayabold.TTF">Himalaya bold</a></li>
                    </ul>
                </div>
                </div>
            </div>
        <div class="footer-2">
            <div class="row">
                <div class="col-md-6 footer-2-col-left">
                    <p>© @DateTime.Now.Year, <a href="#">Nepal Intermodal Transport Development Board</a></p>
                </div>
                <div class="col-md-6 footer-2-col-right">
                    <p>INLAND CLEARANCE DEPOT IN NEPAL</p>
                </div>
            </div>
        </div>

    </div>
    <!----------------------------------------footer closed-------------------------------------------------------->

    <script type="text/javascript" src="~/lib/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/lib/js/jquery.js"></script>
    <script type="text/javascript" src="~/lib/js/bootstrap.js"></script>
    <script>
        $('.collapse').collapse()
        $('.carousel').carousel()
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

